body {
    padding: 2rem 0rem;
}

.like {
    font-size: 1.5rem;
}

p {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}