<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Bartender Assist</h1>
                <p class="lead text-muted">Bartender Assistance will help the user to do some calculation around you ordered drinks, this will make your life easy.</p>
                <!-- <p>
                  <a href="#" class="btn btn-primary my-2">Main call to action</a>
                  <a href="#" class="btn btn-secondary my-2">Secondary action</a>
              </p> -->
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <ng-container *ngFor="let drink of drinks">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="img-fluid" [src]="drink.strDrinkThumb" alt="">
                            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder {{row}}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->

                            <div class="card-body">
                                <h5 class="title">{{drink.strDrink}}</h5>
                                <p [title]="drink.strInstructions" class="card-text">{{drink.strInstructions}}</p>
                                <!-- <div class="badges mb-4">
                                    <strong>Ingredents: </strong>
                                    <ng-container *ngFor="let row of drink.ingredentsList">
                                        <span class="badge text-bg-warning m-1">{{row}}</span>
                                    </ng-container>

                                </div> -->
                                <div class="price mb-3">
                                    <strong>Price: </strong> {{drink.price | currency}}
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" (click)="showDrink(drink.idDrink)" class="btn btn-outline-primary">View <i class="fa fa-eye" aria-hidden="true"></i></button>
                                        <button type="button" (click)="addItem(drink)" class="btn btn-outline-success">Add <i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                    <small class="text-muted">{{drink.strGlass}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>

</main>